@import './_global';
@import './footer';

body {
    background-color: $color_parrafo;
    color:aquamarine;
}

@import './nav';

header {
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.icono {
    width: $tamano-icono;
}